* {
        font-family: "Roboto", sans-serif;
        list-style-type: none; 
}
body {
        background: #fff;
        color: #434455;
}
ul, ol {
        margin: 0;
        padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
        margin: 0;
}
a {
        text-decoration: none;  
}
img {
        display: block;
        max-width: 100%;
        height: auto;
}
button {
        cursor: pointer;
}
.menu-contact-list-item-link:hover,
.menu-contact-list-item-link:focus,
.header-nav-list-item-link:hover,
.header-nav-list-item-link:focus,
.header-contact-list-item-link:hover,
.header-contact-list-item-link:focus,
.header-nav-list-item-link.current {
        color: #404BBF;
}

.hero-baner-btn:hover,
.hero-baner-btn:focus {
        background-color: #404BBF;
}

.team-title,
.portfolio-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
}
.advantages-list-item-subtitle,
.team-list-item-subtitle,
.portfolio-title-list-item-subtitle {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.advantages-list-item-text,
.team-list-item-text,
.portfolio-title-list-item-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.container {
        max-width: 320px;
        padding: 0 16px;
        margin: 0 auto;
}
.section {
        padding: 96px 0;
}



.advantages-list,
.team-list {
        display: flex;
        flex-direction: column;
        gap: 72px;
}

.advantages-list-item-subtitle,
.portfolio-title-list-item-subtitle {
        margin-bottom: 8px;
}

/* ----------header------------ */
.header-nav-list,
.header-contact {
        display: none;
}


.header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
        display: flex;
        justify-content: space-between;
}

.header-nav-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: block;
        padding: 16px 0;

}
.header-nav-logo-span{
        color: #2e2f42;   
}

.header-nav-list-item-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-list-item-link.current {
        position: relative;
}
.header-nav-list-item-link.current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
}

.header-nav-list::after {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
}

.header-contact {
        font-style: normal;
        margin-left: auto;
}

.burger-btn {
        padding: 0;
        border: none;
        background-color: transparent;
}
.burger-icon {
        display: block;
        fill: #2f2f37;
}


/* mobile menu */
.mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 10;

        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open .mobile-menu-container {
        transform: translate(0, 0) scale(1);
        opacity: 1;
}


.mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
}
.mobile-menu-container {
        position: relative;
        padding-top: 72px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        height: 100%;
        transform: translate(100%, -100%) scale(0.9);
        opacity: 0;
        transition: transform 400ms ease, opacity 400ms ease;
        
}
.menu-close-btn,
.modal-close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        fill: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 0;
        margin-bottom: 24px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.menu-nav {
        margin-bottom: auto;
}

.menu-nav-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
}



.menu-nav-list-item-link {
        font-weight: 700;
        font-size: 36px;
        line-height: 1,1;
        letter-spacing: 0.02em;
        color: #2e2f42;
}


.menu-contact {
        margin-bottom: 48px;
}

.menu-contact-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
}

.menu-contact-list-item {
}

.menu-contact-list-item-link {
        font-weight: 500;
        font-size: 20px;
        line-height: 1,2;
        letter-spacing: 0.02em;
        color: #434455;
}
.current-menu {
        color: #404BBF;
}


/* ---------hero-baner ------ */

.hero-baner {
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
        padding: 72px 16px;
        text-align: center;
        max-width: 320px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
}

.hero-baner-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #fff;
        margin: 0 auto 72px;
        max-width: 216px;
}

.hero-baner-btn {
        font-family: "Roboto", sans-serif;
        background-color: #4d5ae5;
        margin: 0 auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #fff;
        border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        display: block;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        letter-spacing: 0.04em;
}


/* < !------------<->- Our Advantages -----------<->--> */


.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
        clip-path: inset(100%);
}

.advantages-list-icon {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
}


/* ----------< !-->Our Team -----------<-> */
.team {
    background: #f4f4fd;
    padding-left: 12px;
    padding-right: 12px;
}


.team-list-item {
        max-width: 264px;
        background-color: #FFFFFF;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-container-list{
     padding: 32px 0;
}
.team-list-item-subtitle {
        font-weight: 500;
        font-size: 20px;
}
.team-list-item-text {
        text-align: center;
        margin-bottom: 8px;
        font-weight: 400;
}
.container-team-icon {
        display: flex;
        justify-content: center;
        gap: 24px;
}

.team-icon-item {
        width: 40px;
        height: 40px;
}
.team-icon-link {
        width: 100%;
        height: 100%;
        padding: 8px;
        display: flex;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-link:hover,
.team-icon-link:focus {
        background-color: #404bbf;
}
.team-list-icon {
        fill: #f4f4fd;
}


/* < !-/*------------ Our Portfolio /*-------------> */

.portfolio-title-list-item-subtitle {
        font-weight: 500;
        font-size: 20px;
        text-align: left;
}

.portfolio-title-list-item-text {
        font-weight: 400;
}

.portfolio-title-list {
        display: flex;
        flex-wrap: wrap;
        gap: 48px;
        margin: 0;
        list-style: none;
}
.portfolio-title-list-item{
        list-style: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-list {
        position: relative;
        overflow: hidden;
        

}
.portfolio-title-list-item-img {
        max-width: 288px;
        max-height: 280px;
}
.container-list-text {
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 0 32px 16px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title-list-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        background: #fff;
        transform: translateY(0%);
}

.container-list-second-text {
        position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-title-list-item:hover .container-list-second-text {
        transform: translateY(0%);
}


/*----------- footer-------------- */
.footer {
        
        background: #2e2f42;
        padding: 96px 0;
        
}
.container-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 72px;
}
.footer-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
}
.footer-logo-white {
    color: #f4f4fd;
}

.footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        text-align: left;

}


.icon-social-links {
        max-width: 208px;
        display: flex;
        gap: 16px;
}
.footer-text-social {
        font-weight: 500;
        color: #fff;
        text-align: center;
        margin-bottom: 16px;
}
.icon-social-item {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:hover,
.footer-icon:focus {
        background-color: #31d0aa
}
.footer-list-icon {
        fill: #f4f4fd;
}

.footer-subscribe-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}
.footer-subscribe-form {
        display: flex;
        gap: 24px;
        flex-direction: column;
}
.footer-subscribe-input {
        font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        width: 288px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: transparent;
        padding-left: 16px;
}
.footer-subscribe-input::placeholder {
        color: #ffffff;
}
button.footer-email-btn {
        margin: 0 auto;
}
.footer-email-btn {
        border: none;
        border-radius: 4px;
        max-width: 165px;
        height: 40px;
        background-color: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
}

.icon-send {
        margin-left: 16px;
}
/*----------- backdrop-------------- */




.modal {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 288px;
        min-height: 584px;
        border-radius: 4px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background-color: #fcfcfc;
        transform: translate(-50%, -50%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 16px 24px 16px;

}




.backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
}
.backdrop:not(.is-open) .modal {
        transform: translate(-50%, -50%) scale(1.5);
}

.modal-icon {
        fill: #000000;
        margin-left: 1px;
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        pointer-events: none;

}
.modal-close-btn {
        background-color: #e7e9fc;
}
.modal-icon-close {
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover,
.menu-close-btn:focus,
.modal-close-btn:hover,
.modal-close-btn:focus {
        background-color: #404bbf;
        border: none;
}
.modal-close-btn:hover .modal-icon-close,
.modal-close-btn:focus .modal-icon-close {
        fill: #ffffff;
}

.modal-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}

.modal-container {
        border: none;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 8px;
}

.modal-lable {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;
}
.input-wrapper {
        position: relative;
        display: inline-block;
}

.modal-list-icon {
        position: absolute;
        top: 50%;
        left: 28px;
}

.modal-input {
        padding-left: 38px;
        font-size: 14px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.user-comment:focus,
.user-comment:active,
.modal-input:focus,
.modal-input:active {
        border: 1px solid #4d5ae5;
        outline: #4d5ae5;
}
.modal-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-icon,
.modal-input:active+.modal-icon {
        fill: #4d5ae5;
}
.textarea-container {
        margin-bottom: 16px;
}
.user-comment {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        width: 100%;
        height: 120px;
        padding: 8px 16px;
        resize: none;
        border-radius: 4px;
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border-color: #4D5AE5;
        border: 1px solid rgba(46, 47, 66, 0.4);
}


.privacy-container {
        gap: 8px;
        align-items: center;
        margin-bottom: 24px;
}
.user-privacy {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.user-privacy-link {
        line-height: 1.33333;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}
.checkbox-icon {
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        justify-content: center;
        display: inline-flex;
        align-items: center;
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #f4f4fd;
        margin-right: 8px;
        display: inline-flex;
}


.input-accept:checked+.user-privacy .checkbox-icon {
        background-color: #404bbf;
        border: none;
        fill: #f4f4fd;
}


@media screen and (max-width: 1157px) {
.advantages-list-icon {
        display: none;
}
}

/* @media min-width: 768px */

@media screen and (min-width: 768px) {

.container {
        max-width: 768px;
        margin: 0 auto;       
}

.header-nav-logo {
        padding: 24px 0;
        margin-right: 120px;

}
.burger-btn {
        display: none;
}

.header-container,
.header-nav,
.header-nav-list {
        display: flex;
        align-items: center;
}
.header-nav-list {
        gap: 40px;
}


.header-contact {
        display: block;
}
.header-contact-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
}

.header-contact-list-item-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.hero-baner {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/people-office-x2.jpg);
        padding: 112px 0;
        max-width: 768px;
}
.hero-baner-title {
        font-size: 56px;
        margin: 0 auto 36px;
        max-width: 496px;
}

.advantages-list-item-subtitle {
        font-weight: 700;
        font-size: 36px;
        text-align: left;
        color: #2e2f42;
}

.advantages-list {
        gap: 72px 24px;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 736px;
}
.advantages-list-item {
        flex: 0 1 calc(50% - 12px);
}


.team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;

}


.team-list-item-subtitle,
.portfolio-title-list-item-subtitle {
        margin-bottom: 8px;
}

img.portfolio-title-list-item-img {
        max-width: 356px;
        max-height: 300px;
}
.portfolio-title-list {
        gap: 72px 24px;
        justify-items: center;
}

.container-footer {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 72px 24px;
        padding-left: 108px;
}

.footer-subscribe-text {
        text-align: justify;
}
.footer-subscribe-form {
        display: flex;
        gap: 24px;
        flex-direction: row;
}

.footer-text {
        max-width: 264px;
        text-align: justify;
}
.container-footer-logo {
        text-align: justify;
}


.footer-subscribe-input {
        width: 264px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

}
.footer-email-btn {
        width: 165px;
        background-color: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
}
.modal {
        width: 408px;
        padding: 72px 24px 24px 24px;
}

}

/* @media min-width: 1158px */

@media screen and (min-width: 1158px) {
        .container {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;       
}
        .section {
        padding: 120px 0;
}
.header-nav-logo {
        margin-right: 76px;
}

.header-contact-list {
        flex-direction: row;
        gap: 40px;
}
.header-contact-list-item-link {
        padding: 24px 0;
}
.hero-baner {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/people-office-x2.jpg);
        padding: 188px 0;
        max-width: 1440px;
}
.hero-baner-title {
        font-size: 56px;
        margin: 0 auto 48px;
        max-width: 496px;
}

.advantages-list-item-subtitle,
.team-list-item-subtitle,
.portfolio-title-list-item-subtitle {
        font-weight: 500;
        font-size: 20px;
        text-align: left;
        
}
.team-list-item-subtitle {
        text-align: center;
}
.advantages-list,
.team-list {
        gap: 24px;
        flex-wrap: nowrap;
        max-width: 1128px;
}

.advantages-list-item {
        width: calc((100% - 72px) / 4)
}
.advantages-list-item-text,
.team-list-item-text,
.portfolio-title-list-item-text {
        font-weight: 400;
        
}

.portfolio-title-list {
        gap: 48px 24px;
}

.portfolio-title-list-item {
        width: calc((100% - 48px) / 3);
}

img.portfolio-title-list-item-img {
        max-width: 360px;
        max-height: 300px;
}

.container-footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
}
.footer-subscribe-text {
        text-align: justify;
}
.footer-subscribe-form {
        display: flex;
        gap: 24px;
        flex-direction: row;
}
.footer {
        background: #2e2f42;
        padding: 100px 0;
        display: block;
        unicode-bidi: isolate;
}
.footer-text {
        max-width: 264px;
        text-align: justify;
}
.container-footer-logo {
        text-align: justify;
}


.footer-subscribe-input {
        width: 264px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

}
.footer-email-btn {
        width: 165px;
        background-color: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
}







}


